img.logo{
	float: left;
	margin-left: 2%;
	width: 600px;
	height: auto;
}
div.topsq{
	width: auto;
	height: 15em;
	background: #ffffff;
	background: -webkit-linear-gradient( top,#04d9c3, #c06979);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}
div.test{
	width: 100%;
	height: 50em;
	background-color: #004040;
	margin-top: 26em;
	opacity: 0.5;
}
div.test2{
	width: 100%;
	height: 50em;
	background-color: #58122c;
	margin-top: 10px;
	opacity: 0.5;
}
div.test3{
	width: 100%;
	height: 50em;
	background-color: #004040;
	margin-top: 10px;
	opacity: 0.5;
}
div.test4{
	width: 100%;
	height: 50em;
	background-color: #03a596;
	margin-top: 10px;
	opacity: 0.5;
}
div.test5{
	width: 100%;
	height: 14em;
	background-color: #ffffff;
	margin-top: 10px;
}
div.navbar{
	width: auto;
	height: 2em;
	background-color: ;
	display: absolute;
}

.menu_bg {
  background-color: #000000;
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 800;
  opacity: 0.2;
}
header {
  color: #e6e5e5;
  display: block;
  position: relative;
  z-index: 999;
  text-align: center;
  background: url("thinnersky.png") center 0 no-repeat;
  width: auto;
  height: auto;
  padding-bottom: 10px;
  opacity: 0.9;
}
/****Lists****/
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
ul{
	list-style-type: none;	
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li{
	float: left;
	
}
li a{
	display: block;
	padding-left: 30px;
	background-color: none;
	margin-left: 15px;
	margin-top: 1em;
	color: black;
	font-size: 26px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

